@charset "UTF-8";

.container {
  margin:0 auto;
  width: 960px;
  margin-top: 150px;
}

.frosted_cookie {
  float: left;
  display: inline-block;


}

.pat_story {
display: inline-block;
float: right;

}


body {

  font-family: helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#312f34;
  background-color:#c7b7b7;
}
.fam {
  margin: auto;
  display: block;
  margin-top: 30px;
}
header img {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  height: 55%;
  width: inherit;
}

.header_text {
  color: #c7b7b7;
  margin-left: 225px;
  margin-top: 50px;
}



.header {
    overflow: hidden;
    background-color: #441313;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
  }
